src/main/deploy/auton/auton.dtd

<!ELEMENT auton (snippet | primitive)* >

<!ELEMENT snippet EMPTY>
<!ATTLIST snippet file CDATA #IMPLIED>

<!ELEMENT primitive (zone* ) >
<!ATTLIST primitive 
          id                ( DO_NOTHING | HOLD_POSITION | 
                              TRAJECTORY_DRIVE | RESET_POSITION | RESET_POSITION_NO_VISION | DRIVE_STOP_MECH) "DO_NOTHING"
		  pathUpdateOption 	( NOTHING) "NOTHING"
		  time				CDATA #IMPLIED
		  delayOption		(START ) "START"
          headingOption     CDATA "IGNORE"
          heading           CDATA "0.0"
		  choreoname		CDATA #IMPLIED
		  visionAligment    ( UNKNOWN ) "UNKNOWN"
		  launcherState		( STATE_OFF | STATE_INITIALIZE | STATE_IDLE | STATE_PREPARE_TO_LAUNCH | STATE_LAUNCH | STATE_EMPTY_HOPPER | STATE_CLIMB
							| STATE_LAUNCHER_TUNING | STATE_MANUAL_LAUNCH) "STATE_OFF",
		  intakeState		( STATE_OFF |STATE_INTAKE | STATE_EXPEL | STATE_LAUNCH | STATE_EMPTY_HOPPER) "STATE_OFF"
		  climberState		( STATE_OFF |STATE_WANT_TO_CLIMB | STATE_PREPARE_TO_CLIMB | STATE_L1CLIMB | STATE_L3CLIMB | STATE_EXIT | STATE_AUTON_L1CLIMB) "STATE_OFF"
>


<!ELEMENT zone EMPTY >
<!ATTLIST zone
		filename CDATA #REQUIRED
		
>


